Assignments:

Assignment 1:

In [ ]:
BoardOfDirectors = (["Benny","Hans", "Tine", "Mille", "Torben", "Troels", "Søren"])
Management = (["Tine", "Trunte", "Rane"])
Employees = (["Niels", "Anna", "Tine","Ole","Trunte","Bent","Rane","Allan","Stine","Claus","Bent","Lars"])

Assignment 2:

In [ ]:
ListOfTuples = [('a',"Alpha"),('b',"Beta"),('g',"Gamma")]

Assignment 3:

In [19]:
set1 = {'a', 'e', 'i', 'o', 'u', 'y'}
set2 = {'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

print(set1.union(set2))
print(set1 | set2)

print(set1.symmetric_difference(set2))
print()

print(set1.difference(set2))

print(set1.intersection(set2))
# Fik det ikke til at fungere i tide
def disjointCheck(paramSet1,paramSet2):
    disjointSet = {}
    for x in paramSet1:
        for y in paramSet2:
            if (x == y):
                set(disjointSet).add(x)
    print(disjointSet)
disjointCheck(set1,set2)

# COME BACK AND MAKE 2 SOLUTIONS HERE!

{'i', 'a', 'e', 'ø', 'u', 'y', 'å', 'o', 'æ'}
{'i', 'a', 'e', 'ø', 'u', 'y', 'å', 'o', 'æ'}
{'ø', 'å', 'æ'}

set()
{'i', 'a', 'e', 'u', 'y', 'o'}
{}

Assignment 4:

In [8]:
import datetime
from datetime import datetime
date = "8-MAR-85"
monthDictionary = {"JAN":1,"FEB":2, "MAR":3,"APR":4,"MAY":5,"JUN":6,"JUL":7,"AUG":8,"SEP":9,"OCT":10,"NOV":11,"DEC":12}

def splitDate(dateString: str) -> str:
    return dateString.split("-")

def translateMonth(translationDate: str) -> str:
    # Changing the month
    splitDateList = splitDate(translationDate)
    splitDateList[1] = monthDictionary[splitDateList[1]]
    # Changing the Year
    if (int(splitDateList[2]) > int(datetime.now().strftime("%y"))):
        splitDateList[2] = "19" + splitDateList[2]
    else:
        splitDateList[2] = "20" +  splitDateList[2]
    
    return tuple(splitDateList)

print(translateMonth(date))

('8', 3, '1985')

Assignment 5: